.heroSection{
    min-height:60dvh;
    padding-top:83px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position:relative;
}
.bgPattern{
    background-color: var(--bs-secondary-bg);
    opacity: 0.3;
    background-image: linear-gradient(-45deg, var(--bs-secondary-bg), var(--bs-secondary-bg) 50%, #A8BBA2 50%, #A8BBA2);
    background-size: 12px 12px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}
.cta{
    padding:0.25rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    font-size:1.25rem;
    border-radius:var(--bs-border-radius-xl);
    text-decoration: none;
    background-image: linear-gradient(to right, transparent 0%, transparent 100%);
    transition: background-image 0.3s ease;
}
.cta:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}
.cta-primary{
    background:var(--cta-color);
    color:white;
}
.cta-secondary{
    background:var(--second-color);
    color:white;
}

/*about section*/
.aboutSection .option{
    display:flex;
    flex-direction:column;
    text-align: center;
    gap:0.5rem;
    padding:var(--bs-border-radius-xl);
    border-radius:var(--bs-border-radius-xl);
    flex:1;
    min-width:min(100%, 20rem);
    background:var(--bs-body-bg);
    color:var(--bs-body-color);
}
.aboutSection{
    background:var(--fourth-color);
    color:var(--third-color);
    padding-top:2rem;
    padding-bottom:2rem;
}
.artigiano img{
    width:100%;
    height:10rem;
    object-fit:cover;
    border-top-left-radius:var(--bs-border-radius-xl);
    border-top-right-radius:var(--bs-border-radius-xl);

}
.artigianiContainer{
    display:flex;
    flex-direction:row;
    align-items:stretch;
    justify-content: start;
    flex-wrap:wrap;
    padding-top:2rem;
    padding-bottom:2rem;
    gap:1rem;
}
.artigianiContainer .artigiano{
    flex:1;
    min-width:calc(100%, 20rem);
    border-bottom-left-radius:var(--bs-border-radius-xl);
    border-bottom-right-radius:var(--bs-border-radius-xl);
}
.artigianiContainer .artigiano .nomeArtigiano{
    font-weight:600;
    font-size:1.8rem;
}
.artigianiContainer .artigiano .bodyArtigiano{
    padding:0.5rem;
}
.bioArtigiano{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4; 
    -webkit-box-orient: vertical;
}

.theySaidAboutUsContainer{
    background:var(--second-color);
    color:white;
    padding-top:2rem;
    padding-bottom:2rem;
}
.theySaidAboutUsContainer .itm{
    flex:1;
    padding:60px;
    border-radius: 35% 65% 49% 51% / 73% 28% 72% 27%;
    background:var(--bs-body-bg);
    color:var(--bs-body-color);
}
.ctaArtigianiCont{
    background:var(--first-color);
    color:white;
    padding-top:2rem;
    padding-bottom:2rem;
}